<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Animoz - animaux</title>
	<style>
		table, th, td {
			border: 1px solid black;
			margin: 5px 5px;
			padding: 5px 5px;
			text-align: center;
		}
		a {
			margin: 10px 10px;
		}
	</style>
</head>
<body>
	<h2>Ajouter un animal</h2>
	<a data-th-href="@{/}">Accueil</a>
	<a data-th-href="@{/animaux}">Les animaux</a>
	<a data-th-href="@{/animal}">Ajouter un animal</a>
	<a data-th-href="@{/soigneurs}">Les soigneurs</a>
	<a data-th-href="@{/soigneur}">Ajouter un soigneur</a>
	<hr>
	<form method="post" accept-charset="utf-8" data-th-object="${animal}" data-th-action="@{/animal}">
		<label>Nom*</label>
		<input type="text" placeholder="Nom de l'animal" data-th-field="*{nom}">
		<span data-th-errors="*{nom}"></span>
		<br>
		
		<label>Description</label>
		<input type="text" placeholder="Description de l'animal" data-th-field="*{description}">
		<br>
		
		<label>Régime alimentaire*</label>
		<select data-th-field="*{regimeAlimentaire}">
			<option value="">-- Régime alimentaire --</option>
			<option data-th-each="r : ${T(com.animoz.modele.Regime).values()}" data-th-value="${(r)}" data-th-text="${(r)}"></option>
		</select>
		<span data-th-errors="*{regimeAlimentaire}"></span>
		<br>
		
		<label>Espèce*</label>
		<select data-th-field="*{espece}">
			<option value="">-- Espèce --</option>
			<option data-th-each="e : ${listeEspeces}" data-th-value="${e.id}" data-th-text="${e.nom}"></option>
		</select>
		<span data-th-errors="*{espece}"></span>
		<br>
		
		<input type="submit" value="Ajouter">
	</form>
</body>
</html>