<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Animoz</title>
	<style>
		table, th, td {
			border: 1px solid black;
			margin: 5px 5px;
			padding: 5px 5px;
		}
		a {
			margin: 10px 10px;
		}
	</style>
</head>
<body>
	<h2>Accueil</h2>
	<a data-th-href="@{/}">Accueil</a>
	<a data-th-href="@{/animaux}">Les animaux</a>
	<a data-th-href="@{/animal}">Ajouter un animal</a>
	<a data-th-href="@{/soigneurs}">Les soigneurs</a>
	<a data-th-href="@{/soigneur}">Ajouter un soigneur</a>
</body>
</html>