<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Animoz - soigneurs</title>
	<style>
		table, th, td {
			border: 1px solid black;
			margin: 5px 5px;
			padding: 5px 5px;
		}
	</style>
</head>
<body>
	<h2>Liste des soigneurs</h2>
	<ul>
		<li><a data-th-href="@{/}">Accueil</a></li>
		<li><a data-th-href="@{/animaux}">Les animaux</a></li>
		<li><a data-th-href="@{/animal}">Ajouter un animal</a></li>
		<li><a data-th-href="@{/soigneurs}">Les soigneurs</a></li>
	</ul>
	<table>
	  <thead>
	    <tr>
	      <th>Nom</th>
	      <th>Numéro</th>
	      <th>Date de recrutement</th>
	   </tr>
	  </thead>
	  <tbody>
	    <tr data-th-each="s : ${listeSoigneurs}">
	      <td data-th-text="${s.nom}"></td>
	      <td data-th-text="${s.numero}"></td>
	      <td data-th-text="${a?.dateRecrutement}"></td>
	    </tr>
	  </tbody>
	</table>
</body>
</html>