<!DOCTYPE html>
<html id="commandePage">
  <head>
  	<meta charset="UTF-8">
    <title>Pizza EE</title>
    <link rel="stylesheet" href="../static/style.css" data-th-href="@{/style.css}">
  </head>
  <body>
	<nav id="menu">
		<ul>
			<li><a href="accueil.html" data-th-href="@{/accueil}">Accueil</a></li>
			<li><a href="commande-form.html" data-th-href="@{/commande}">Commander</a></li>
			<li><a href="commandes.html" data-th-href="@{/commandes}">Préparer</a></li>
		</ul>
	</nav>

	<p>La commande que vous souhaitez consulter n'existe plus.</p>

  </body>
</html>